:root {
    --primary: #a01642;
    --red50: #fbe3e8;
    --red100: #f6b9c6;
    --red200: #ef8ca0;
    --red300: #e75f7c;
    --red400: #df4062;
    --red500: #d8254a;
    --red600: #c92148;
    --red700: #b41c45;
    --red800: #a01642;
    --red900: #7d0d3c;
  
    --complementary: #16a074;
    --jungle50: #e1f4ee;
    --jungle100: #b5e3d3;
    --jungle200: #85d1b7;
    --jungle300: #56be9b;
    --jungle400: #32af87;
    --jungle500: #16a074;
    --jungle600: #129368;
    --jungle700: #0b825a;
    --jungle800: #00724c;
    --jungle900: #005631;
  
    --analogous1: #a01687;
    --purple50: #f4e4ef;
    --purple100: #e4bad9;
    --purple200: #d28dc1;
    --purple300: #be60a8;
    --purple400: #b03c97;
    --purple500: #a01687;
    --purple600: #941182;
    --purple700: #83087b;
    --purple800: #740373;
    --purple900: #590065;
  
    --analogous2: #a02f16;
    --orange50: #fcebec;
    --orange100: #f8cdcd;
    --orange200: #e39a93;
    --orange300: #d5756b;
    --orange400: #db5a46;
    --orange500: #dc4f2c;
    --orange600: #ce462b;
    --orange700: #bd3d26;
    --orange800: #b03720;
    --orange900: #a02f16;
  
    --triadic1: #a07416;
    --yellow50: #fffae6;
    --yellow100: #fff2c1;
    --yellow200: #ffeb98;
    --yellow300: #ffe36f;
    --yellow400: #ffdc4f;
    --yellow500: #fdd72d;
    --yellow600: #edc52a;
    --yellow700: #d8b024;
    --yellow800: #c2991f;
    --yellow900: #a07416;
  
    --triadic2: #42a016;
    --green50: #eef8e7;
    --green100: #d4eec2;
    --green200: #b7e29a;
    --green300: #99d670;
    --green400: #80cd4e;
    --green500: #68c429;
    --green600: #58b421;
    --green700: #42a016;
    --green800: #298c09;
    --green900: #006a00;
  
    --black: #000000;
    --white: #ffffff;
  }
  