body {
    color: var(--white);
    width: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.3em;
    
  }
  p {
    color: var(--black);
  }
  pre {
    color: var(--black);
    margin: 1em;
    padding: 0;
    line-height: 1;
    font-size: 0.8em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  h3 {
    color: var(--black);
  }
  h4 {
    color: var(--black);
    border-style: double;
    margin: 0;
    padding: 0;
  }
  h5 {
    color: var(--black);
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border: solid;
    margin: 1em;
  }
  table th {
    border: solid;
    font-size: 0.8em;
  }
  table td {
    border: 1px solid;
    font-size: 0.8em;
  }
  /* Logo segment +++++++++++++++++++++++++++++ begin*/
  .logomain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .logomain span {
    color: var(--primary);
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 700;
    position: absolute;
  }
  .logomain img {
    opacity: 0.75;
    transition: rotate 2s ease-in-out;
  }
  .logomain:hover img {
    rotate: -240deg;
  }
  #mainlogo {
    height: 150px;
    width: 150px;
    margin: 24px auto;
  }
  /* Logo segment +++++++++++++++++++++++++++++ end */
  /* navigation segment +++++++++++++++++++++ begin */
  .navbar {
    background-color: var(--primary);
    width: 100%;
    top: 0;
    padding: 20px 0px;
  }
  .navflex {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
    min-width: 360px;
    padding: 0px 10px;
    flex-direction: row;
    justify-content: space-between;
  }
  .navflex ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navflex li {
    float: left;
  }
  .navflex li a {
    margin-right: 10px;
  }
  .currentpage{
    font-style:italic;
    font-weight: 0.8em;
  }
  #currentpage {
    color: var(--yellow700);
    margin-left: 10px;
  }

  .menuitems {
    display: flex;
  }
  .menuitems li {
    margin: 0;
    padding: 0;
  }
  .menuitems a,
  .breadcrumb a {
    color: var(--white);
    text-decoration: none;
  }
  .menuitems a:hover,
  .breadcrumb a:hover,
  .menuicon:hover {
    background-color: var(--complementary);
  }
  .menuicon {
    display: none;
  }
  #iconmenu {
    width: 20px;
  }
  /* navigation segment ++++++++++++++++++++++ end */
  .contentmain {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 380px;
    margin: 0;
    margin: 1% auto;
    padding: 0px 10px;
    color: var(--black);
  }
  
  .dropdown-content2 {
    position: absolute;
    display: none;
    margin: 0;
    padding: 12px 0px;
    background-color: var(--complementary);
  }
  .dropdown-content {
    position: absolute;
    display: none;
    margin: 0;
    padding: 10px 0px;
    background-color: var(--complementary);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropdown-content2 {
    display: block;
    margin-top: 36px;
  }
  
  .dropdown-content:hover {
    color: var(--yellow700);
  }
  .dropdown-content2:hover {
    color: var(--yellow700);
  }
  
  .contentexperiment {
    color: var(--black);
  }
  .contentproject {
    background-color: var(--jungle50);
    border-radius: 25px;
    /*overlay color*/
    float: left;
    width: 28%;
    min-width: 179px;
    border: 5px;
    border-style: solid;
    border-color: var(--complementary);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
  }
  .contentproject img {
    margin: 0 -1px;
  }
  
  .contentassessment {
    color: var(--black);
  }
  .contentassessment ul {
    font-size: 0.8em;
  }
  .contentassessment p {
    font-size: 0.8em;
    line-height: 1;
  }
  /* mediaquery segment ++++++++++++++++++++ begin */
  @media only screen and (max-width: 600px) {
    #mainlogo {
      width: 75px;
      height: 75px;
      margin: 12px auto;
    }
    #menuicon {
      display: flex;
    }
  }
  
  @media only screen and (min-width: 600px) {
    #menuitems.responsive {
      display: flex;
      width: 100%;
    }
  }
  


  .footerbar {
    background-color: var(--primary);
    width: 100%;
    top: 0;
    padding: 5px 0px;
    font-size: 0.5em;
    text-align: center;
  }